<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %> <%= f.text_field :name %> <br>
    <%= f.label :telephone %> <%= f.text_field :telephone %> <br>
    <%= f.label :gender %> <%= f.text_field :gender %> <br>
    <%= f.label :parent %> <%= f.text_field :parent %> <br>
    <%= f.label :is_default_contact %> <%= f.text_field :is_default_contact %> <br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
