<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student.name %>
  <%= @student.telephone %>
  <%= @student.gender %>
  <%= @student.parent %>
  <%= @student.is_default_contact %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
