<p id="notice"><%= notice %></p>
<p>
  <strong>Student:</strong>
  <%= @student.name %>
  <%= @student.telephone %>
  <%= @student.gender %>
  <%= @student.parent %>
  <%= @student.is_default_contact %>
</p>

<%= link_to '编辑', edit_student_path(@student) %> |
<%= link_to '返回', students_path %>
