<%= form_for(@contacter) do |f| %>
  <% if @contacter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacter.errors.count, "error") %> prohibited this contacter from being saved:</h2>

      <ul>
      <% @contacter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
