<h1>Listing contacters</h1>

<table>
  <tr>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacters.each do |contacter| %>
  <tr>
    <td><%= contacter.contact %></td>
    <td><%= link_to 'Show', contacter %></td>
    <td><%= link_to 'Edit', edit_contacter_path(contacter) %></td>
    <td><%= link_to 'Destroy', contacter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contacter', new_contacter_path %>
