<%= form_for(@scool) do |f| %>
  <% if @scool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scool.errors.count, "error") %> prohibited this scool from being saved:</h2>

      <ul>
      <% @scool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.label :name %> <%= f.text_field :name %><br>
   <%= f.label :telephone %> <%= f.text_field :telephone %><br>
   <%= f.label :url %> <%= f.text_field :url %><br>
   <%= f.label :profile_image_url %> <%= f.text_field :profile_image_url %><br>
   <%= f.label :description %> <%= f.text_field :description %><br>
   <%= f.label :location %> <%= f.text_field :location %><br>
   <%= f.label :latitude %> <%= f.text_field :latitude %><br>
   <%= f.label :longitude %> <%= f.text_field :longitude %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
