<h1>Listing scools</h1>

<table>
  <tr>
    <th>Scool</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scools.each do |scool| %>
  <tr>
    <td><%= scool.scool %></td>
    <td><%= link_to 'Show', scool %></td>
    <td><%= link_to 'Edit', edit_scool_path(scool) %></td>
    <td><%= link_to 'Destroy', scool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scool', new_scool_path %>
