<p id="notice"><%= notice %></p>

<p>
  <strong>Scool:</strong>
  <%= @scool.name %>
  <%= @scool.telephone %>
  <%= @scool.url %>
  <%= @scool.profile_image_url %>
  <%= @scool.description %>
  <%= @scool.location %>
  <%= @scool.latitude %>
  <%= @scool.longitude %>
</p>

<%= link_to '编辑', edit_scool_path(@scool) %> |
<%= link_to '返回', scools_path %>
