<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.label :num %> <%= f.text_field :num %><br>
   <%= f.label :create_time %> <%= f.text_field :create_time %><br>
   <%= f.label :pay_time %> <%= f.text_field :pay_time %><br>
   <%= f.label :status %> <%= f.text_field :status %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
