<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.name %>
  <%= @order.create_time %>
  <%= @order.pay_time %>
  <%= @order.status %>
</p>

<%= link_to '编辑', edit_order_path(@order) %> |
<%= link_to '返回', orders_path %>
