<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.label :name %> <%= f.text_field :name %><br>

    <%= f.label :telephone %> <%= f.text_field :telephone %><br>

    <%= f.label :description %> <%= f.text_field :description %><br>
    
    <%= image_tag(@teacher.profile_image_url) if @teacher.profile_image_url? %>
    <%= f.file_field :profile_image_url %>
    <%= f.hidden_field :profile_image_url_cache %>
    
    <!-- # <%= f.label :profile_image_url %> <%= f.text_field :profile_image_url %><br> -->

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
