
<%= link_to '新建', new_teacher_path %>
<%= paginate @teachers %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>电话</th>
      <th>描述</th>
      <th>图片</th>
      <th colspan="3" width = "120px">编辑</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td ><%= teacher.name %></td>    
        <td ><%= teacher.telephone %></td>
        <td ><%= teacher.description %></td>
        <td ><%= image_tag(teacher.profile_image_url) if teacher.profile_image_url?%></td>
        <td><%= link_to '查看', teacher %></td>
        <td><%= link_to '编辑', edit_teacher_path(teacher) %></td>
        <td><%= link_to '删除', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= paginate @teachers %>