<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @teacher.name %>  
  <%= @teacher.telephone %>
  <%= @teacher.description %>
  <%= @teacher.profile_image_url %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
